<fieldset class="six columns">
	<legend>New Restaurant</legend>
		<%= form_for @restaurant do |f| %>
			<%= f.text_field :name, :placeholder => "Name" %>
	
			<%= f.text_field :neighborhood, :placeholder => "Neighborhood" %>
	
			<%= f.text_field :address, :placeholder => "Address" %>
		  <div class="row">
			  <div class="four columns inline_row">
					<%= f.text_field :city, :placeholder => "City" %>
		    </div>
		    <div class="two columns">
					<%= f.text_field :state, :placeholder => "State" %>
		    </div>
		    <div class="two columns inline_row", id="last_row_item">
					<%= f.text_field :zipcode, :placeholder => "Zipcode" %>
				</div>
			</div>
			<%= f.submit "Add restaurant", :class => "radius button" %>
	
		<% end %>
</fieldset>