<ul class="accordion">
	<% @restaurants.each do |restaurant| %>
		<li>
		  <div class="title">
		    <h5><%= restaurant.name %></h5>
		  </div>
			<div class="content">
				<strong><%= restaurant.neighborhood %></strong><br>
				<%= restaurant.address %><br>
				<%= restaurant.city %> 
				<%= restaurant.state %>, 
				<%= restaurant.zipcode %>
			</div>
		</li>
	<% end %>
</ul>