<ul>
	<% @restaurants.each do |restaurant| %>
		<li><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></li>
		<li><%= restaurant.neighborhood %></li>
		<li><%= restaurant.address %></li>
		<li><%= restaurant.city %></li>
		<li><%= restaurant.state %></li>
		<li><%= restaurant.zipcode %></li>
	<% end %>
</ul>