<ul class="accordion">
	<% @restaurants.each do |restaurant| %>
		<li>
		  <div class="title" id="restaurant_<%= restaurant.id %>">
		    <h5><%= restaurant.name %></h5>
		  </div>
			<div class="content">
				<strong><%= restaurant.neighborhood %></strong><br>
				<%= restaurant.address %><br>
				<%= restaurant.city %> 
				<%= restaurant.state %>, 
				<%= restaurant.zipcode %><br>
				<%= link_to "More info", restaurant_path(restaurant), :id => "more_info_#{restaurant.id}" %>
			</div>
		</li>
		
		<ul class="accordion">
			<% restaurant.reviews.each do |review| %>
			  <li>
				  <div class="title" id="review_<%=review.id %>">
					  <p><%= review.body.slice(0, 50) %></p>
					</div>
				</li>
			<% end %>
		</ul>
	<% end %>
</ul>