<fieldset class="six columns">
	<legend>New Review</legend>
		<%= form_for @review do |f| %>
			<%= f.text_field :reviewer, :placeholder => "Reviewer" %>
			
			<label>Restaurants:</label>
			
			<%= select("review", "restaurant_id", Restaurant.all.collect {|p| [p.name, p.id] }, :include_blank => true) %>
			
			<label>Stars</label>
			
			<%= select_tag(:rating, options_for_select([[1, 1],[2, 2], [3, 3], [4, 4], [5, 5]])) %>

	
			<%= f.text_area :body, :placeholder => "Review" %>
	
			<%= f.submit "Submit review", :class => "radius button" %>
		<% end %>
</fieldset>